
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=264c9757ef985795b8a987f01173ed33
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress